<div style="color white" class="jumbotron">
  <nav class="navbar ">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-lg-2" type="search" placeholder="Text area" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
    </form>
  </nav>   

  <ul class="List list-group">
    <li class="list-group-item active">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul> 

<button style="margin-top: 20px; padding: 20px; padding-left: 40px; padding-right: 40px;" type="button" class="btn btn-success"></button>

  <style>
  .List {
    padding-top: 50px;
  }
  
  </styel>

 
</div>